RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]  

<Files "index.php">
AcceptPathInfo On
</Files> 

<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>
RewriteCond %{HTTP_HOST} ^internal\.hitop\-mdsg\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.internal\.hitop\-mdsg\.com$
RewriteRule ^/?$ "http\:\/\/hitop\-mdsg\.com\/internal\/" [R=301,L]

